@font-face {
  font-family: "myfont_jp2";
  src: local("myfont_jp2"),url("/fonts/myfont_jp2") format('truetype');
}
@font-face {
  font-family: "myfont";
  src: local("myfont"),url("/fonts/myfont") format('truetype')
}
@font-face {
  font-family: "myfont";
  src: local("myfont"),url("/fonts/myfont_italic") format('truetype');
  font-style: italic;
}
body {
  font-family: myfont_jp2;
  margin-bottom: 10em;
}
h1 rt {
  font-weight: normal;
  font-size: small;
}
h1 .word {
  margin: 0 2px;
  border: 2px solid #79bd9a;
}
.sentence-locked {
  opacity: 0.3;
}
.english {
  font-size: 0.7em;
  font-family: myfont;
  color: #777;
}
.card {
  display: inline-block;
  padding: 0.3em 0.5em;
  background-color: rgba(157,157,157,0.1);/*#f5f5f5*/
}
.card--1, .card-0, .card-1, .card-2, .card-3, .card-4 {
  margin: 0 1px;
}
.card--1 {
  color: #638686;
}
.card-0 {
  background-color: #efeb9e;
  color: #878764;
}
.card-1 {
  color: #357878;
  background-color: #a8dba8;
}
.card-2 {
  color: #0b486b;
  background-color: #79bd9a;
}
.card-3 {
  color: #c7e3c7;
  background-color: #3b8686;
}
.card-4 {
  color: #79bd9a;
  background-color: #0b486b;
}
.question-word {
  cursor: pointer;
  background-color: #ddd;
  color: #333;
  padding: 0.2em;
  margin: 0 2px;
}
.answering {
  background-color: #00aaff !important;
  color: white !important;
}
.answered-correctly {
  background-color: #79bd9a;
  color: #0b486b;
}
.answered-incorrectly {
  background-color: red;
  color: white;
}
input.jpsentence,
input.ensentence {
  font-size: 1.2em;
  width: 100%;
  max-width: 40em;
  padding: 0.2em 0.4em;
  border: none;
  border-bottom: 2px solid #ddd;
}
.new-sentence {
  font-size: 2em;
  margin-top: 0.5em;
}
.new-sentence rtc {
  font-size: xx-small;
}
