ruby:
  id = params[:id] || @kanji.id
  json = Collector.new(current_user, kanjis: Kanji.where(id: id)).to_json

div#kanji-card-app
  vue-kanji :id=id :j="j" :editing="editing"

  - if @words.present?
    div.hr-title: span WK Words
    == slim :list, locals: {elements: @words}

javascript:
  var app = new Vue({
    el: '#kanji-card-app',
    data: {
      j: #{{json}},
      editing: #{{options('editing')}}
    }
  })
