ruby:
  id = params[:id] || @kanji.id
  json = Collector.new(current_user, kanjis: Kanji.where(id: id)).to_json

div#kanji-card-app
  kanji :id=id :j="j" :editing="editing"

javascript:
  var app = new Vue({
    el: '#kanji-card-app',
    data: {
      j: #{{json}},
      editing: #{{user_settings('editing') || false}}
    }
  })
