ruby:
  stats = {
    kanji: {
      learned: Card.kanjis.joins(:progresses).merge( Progress.where(user: current_user, learned: true) ).group("detailsb->>'jlpt'").count,
      total: {'5' => 103, '4' => 181, '3' => 367, '2' => 400, '1' => 1207}
    },
    words: {
      learned: Card.words.joins(:progresses).merge( Progress.where(user: current_user, learned: true) ).group("detailsb->>'jlpt'").count,
      total: {'5' => 438, '4' => 416, '3' => 964, '2' => 531, '1' => 681} # has in db + 3284 of unknown level
      # {'5' => 602, '4' => 595, '3' => 2165, '2' => 3249, '1' => 2708} # real life total counts
    }
  }

  cumulative_stats = {
    kanji: {learned: {}, total: {}},
    words: {learned: {}, total: {}}
  }

  [5, 4, 3, 2, 1].each do |i|
    j = i
    while j >= 1
      [:kanji, :words].each do |_type|
        [:learned, :total].each do |_group|
          cumulative_stats[_type][_group][j.to_s] ||= 0
          cumulative_stats[_type][_group][j.to_s] += stats[_type][_group][i.to_s]
        end
      end
      j -= 1
    end
  end

h2 Kanji
ul
  - %w(5 4 3 2 1).each do |i|
    - learned = cumulative_stats[:kanji][:learned][i]
    - total = cumulative_stats[:kanji][:total][i]
    li = "JLPT N#{i}: #{learned} of #{total} (#{(learned/total.to_f*100).round()}%)"

h2 Words
ul
  - %w(5 4 3 2 1).each do |i|
    - learned = cumulative_stats[:words][:learned][i]
    - total = cumulative_stats[:words][:total][i]
    li = "JLPT N#{i}: #{learned} of #{total} (#{(learned/total.to_f*100).round()}%)"
