div#sentence-quiz-app.study-card
  div.sentence-question
    div style="position: absolute; top: 0; left: 0"
      input type="button" @click="updateSentence" value="Next"
    div.center-block
      div.sentence-word-container v-for="(word, wordIndex) of sentence"
        div v-if="word.seq && f.answers[word.seq]" @click="selectWord(word.seq)"
          div.sentence-word-tooltip :class="'answer-' + f.answers[word.seq]" = '{{f.answers[word.seq]}}'
          div.sentence-word.word-question-answered = "{{word.text}}"
        div v-else-if="word.seq"
          div.sentence-word-tooltip ?
          div.sentence-word class="word-question" @click="selectWord(word.seq)" = "{{word.text}}"
        div.sentence-word v-else="true" = "{{word.text}}"

  div v-if="f.wordSelected"
    div.answer-buttons v-if="f.answers[f.wordSelected]"
      div.answer-button.yellow @click="resetAnswer" = 'Answered: {{f.answers[f.wordSelected]}}; RESET'
    div.answer-buttons v-else="true"
      div.answer-button.red @click="answer('no')" NO
      div.answer-button.blue @click="answer('soso')" SO&#8209;SO
      div.answer-button.green @click="answer('yes')" YES

  div v-if="allAnswered && !f.wordSelected"
    div.answer-buttons v-if="allAnswered"
      div.answer-button.blue @click="submit" SUBMIT
    div.center-block style="margin-top: 1em;" = 'Translation: {{english}}'

== slim :word

javascript:
  var sentenceQuizApp = new Vue({
    el: '#sentence-quiz-app',
    data: {
      sentence: [],
      english: null,
      f: {wordSelected: null, answers: {}}
    },
    computed: {
      allAnswered() {
        var totalWords = Object.keys(this.f.answers).length;
        var answeredWords = Object.values(this.f.answers).filter((i) => i !== null);
        if (totalWords > 0 && answeredWords.length == totalWords)
          return true;
        else
          return false;
      }
    },
    methods: {
      selectWord(seq) {
        if (seq === this.f.wordSelected) {
          this.f.wordSelected = null;
          wordApp.resetWordData();
        } else {
          this.f.wordSelected = seq;
          wordApp.resetWordData();
          wordApp.getWordData(seq);
        }
      },
      answer(answerText) {
        this.f.answers[this.f.wordSelected] = answerText;
        //alert(JSON.stringify(this.f.answers));
        this.f.wordSelected = null;
        wordApp.resetWordData();
      },
      resetAnswer() {
        this.f.answers[this.f.wordSelected] = null;
      },
      submit() {
        var app = this;
        $.ajax({
          url: "#{{path_to(:study2)}}",
          method: 'POST',
          data: {answers: this.f.answers}
        }).done(data => {
          if (data == 'ok') {
            app.updateSentence();
          } else {
            alert('error');
          }
        });
      },
      updateSentence() {
        var app = this;
        $.ajax({
          url: "#{{path_to(:api_sentence)}}",
          method: 'GET'
        }).done(data => {
          var j = JSON.parse(data);
          app.sentence = j.sentence;
          app.english = j.english;
          app.f.wordSelected = null;
          app.f.answers = j.sentence.reduce(function(acc,i){
            if (i.seq) acc[i.seq] = null;
            return acc;
          }, {});
        });
      }
    },
    mounted: function(){
      this.updateSentence();
    }
  });
