div.study-card
  div.counter-info = "もう#{@element.same_type.send(params[:group]).count}つ"
  h1.show-answer-button class=@element.element_type = @element.title
  div.answer
    div.answer-buttons
      div.answer-button.incorrect-answer-button data-value="no" NO
      div.other-answers-button ...
      div.other-answers.tooltip style="display: none"
        - if @element.deck > 0
          div.answer-button.soso-answer-button data-value="soso" title="If deck > 3 move to deck 3; else: do not change deck" SO&#8209;SO
        div.answer-button.burn-answer-button data-value="burn" BURN!
      div.answer-button.correct-answer-button data-value="yes" YES
  div.answer-block
    div style="display: inline-block;"
      div Meaning
    - unless @element.radical?
      div< style="display: inline-block;"
        div + Reading
        - if @element.kanji?
          div.reading-answer
            == slim :reading, locals: {e: @element}
  div.answer
    == slim :element
  form id="answer-form" method="POST" action=path_to(:study).with(params[:class], params[:group])
    input type="hidden" name="element_id" value=@element.id
    input type="hidden" name="answer" value=''

javascript:
  var is_answered = false;
  var answer_submitted = false;

  $(document).on('click', '.show-answer-button', function(){
    $(".answer").removeClass('answer');
    $(".answer-block").hide();
    is_answered = true;
  });

  $(document).on('click', '.answer-button', function(){
    if (!answer_submitted) {
      answer_submitted = true;

      $(".answer-button").hide();
      $(".other-answers-button").hide();

      $("#answer-form input[name=answer]").val($(this).data('value'));
      $("#answer-form").submit();
    }
  });

  $(document).on('click', '.other-answers-button', function(){
    var oa = $('.other-answers');
    var p = $(this).offset();
    var pleft, ptop;

    console.log(oa.is(':visible'));
    if (oa.is(':visible')){
      oa.hide();
    } else {
      pleft = p.left + $(this).outerWidth()/2 - oa.outerWidth()/2;
      ptop = p.top + $(this).outerHeight() + 8;
      oa.attr("style", "left: " + pleft + "px; top: " + ptop + "px");

      oa.show();
    }
  });

  $(document).on('keyup', function (e) {
    if (is_answered) {
      if (e.keyCode == 89) { // [Y] key
        submitAnswer("yes");
      } else if (e.keyCode == 78) { // [N] key
        submitAnswer("no");
      } else if (e.keyCode == 83) { // [S] key
        submitAnswer("soso");
      } // there is no keybinding to 'burn' card
    } else {
      if (e.keyCode == 13 || e.keyCode == 32) { // Enter or Space
        showAnswer();
      }
    }
  });

