ruby:
  id = params[:id] || @radical.id
  json = Collector.new(current_user, radicals: WkRadical.where(id: id)).to_json

div#radical-card-app
  radical :id=id :j="j" :editing="editing"

javascript:
  var app = new Vue({
    el: '#radical-card-app',
    data: {
      j: #{{json}},
      editing: false
    }
  })
