div#radical-card-app
  radical :radical="radical" :editing="editing"

javascript:
  var app = new Vue({
    el: '#radical-card-app',
    data: {
      radical: #{{radical_json(@radical.id).to_json}},
      editing: false
    }
  })
