@font-face {
  font-family: "myfont";
  src: local("myfont"),url("/fonts/myfont") format('truetype')
}
@font-face {
  font-family: "myfont";
  src: local("myfont"),url("/fonts/myfont_italic") format('truetype');
  font-style: italic;
}
@font-face {
  font-family: "myfont_jp1";
  src: local("myfont_jp1"),url("/fonts/myfont_jp1") format('truetype');
}
@font-face {
  font-family: "myfont_jp2";
  src: local("myfont_jp2"),url("/fonts/myfont_jp2") format('truetype');
}

