/* ==============================
   MOBILE
   default window width: 980
   with meta:
     iphone: vertical 320/horizontal 568
     ipad:   vertical 768/horizontal 1024
   ============================== */
@media (max-width: 568px) { body {
  /*input[type="text"]:focus,input[type="text"]:hover,textarea:hover,textarea:focus*/
  textarea {
    font-size: 16px; /* Adding 16px on focus will prevent page zoom */
  }
  svg.graph,
  div.graph {
    padding: 8px 0 4px 0 !important;
  }
  #main-menu {
    text-align: left;

    &>div.center {
      margin-left: 0.4em;
      justify-content: flex-start;
    }
    .main-menu-item {
      margin-top: .2em;
    }
  }
  #container {
    margin: 0;
  }
  /* Transpose table */
  .index-page-container .stat-table-block table {
    display: flex;
    tbody {display: flex;}
    td {display: block; margin: 1px 1px; height: 22px;}
  }
  .word-card .expandable-list.word-kanjis {
    font-size: .8em;
  }
  #search-app {
    grid-template-columns: 1fr 8em;
    height: calc(100vh - 33px); // fallback value
    // Proper height: https://css-tricks.com/the-trick-to-viewport-units-on-mobile/
    // --vh value is calculated in javascript on search page
    height: calc(var(--vh, 1vh) * 100 - 33px);

    .browse-panel {
      grid-row: 1;
      grid-column: 2;
      border-right-width: 0;
      border-left-width: 1px;

      .search-results .result-item {

        .title {
          font-size: 0.8em;
          .common-icon, .learned-icon {
            font-size: 0.7em;
          }
        }
        .details {
          width: 12em;
          padding-left: 0;
          font-size: 0.6em;
        }
      }
    }
    .contents-panel {
      grid-row: 1;
      grid-column: 1;
      font-size: 0.8em;
    }
  }
}}

@media (max-width: 320px) {
  .word-card {
    font-size: 0.8em;
  }
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
  .burned {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAA\
GCAYAAADgzO9IAAAABmJLR0QAAAAOABYHCSMkAAAACXBIWXMAAAWJAAAFiQFtaJ36AAAAB3RJT\
UUH4gITCScv0fEPiwAAADJJREFUCNdty7ENACAMA8ELA6RkK6ZlQSokArg860P2iaFuhuxuhPZ\
DjPbDsyi4jwdhASRcBrlPNop5AAAAAElFTkSuQmCC') repeat;
    background-size: 3px 3px;
    background-color: #0b486b;
  }
}

