.old-search-form {
  .emoji-checkbox.search-language-switch {
    input + .slider:before {content: '\1f1ec\1f1e7'; /* GB flag */}
    input:checked + .slider:before {content: '\1f1ef\1f1f5'; /* JP flag */}
  }
}

.search-results-old {
  column-width: 300px;
  column-gap: 0; /*0.4em;*/
  text-align: left;
  font-size: 0.9em;

  .search-result-old {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    padding: 0.2em;
    width: calc(100% - 0.4em - 1px); /* minus padding minus right border */

    .search-result-kanji,
    .search-result-kana {
      border-right: 1px solid rgba(128,128,128,0.2);
    }

    a {
      font-size: small;
      text-decoration: none;
      &:hover {text-decoration: underline;}
    }

    &.pristine,
    &.apprentice,
    &.guru,
    &.master,
    &.enlightened,
    &.burned {
      border-bottom-style: dotted;
      border-right-style: dotted;
    }
    &.pristine {
      background: none;
      color: #222;
    }
    .highlight {
      background-color: #ffec83;
      color: #333;
    }
  }
}


