.vue-sentence-form-app {

  .sentence-composer {
    font-size: 2em;
    line-height: 1.2em;
    @include non-selectable;

    .word {
      display: inline-block;
      user-select: none;
      cursor: default;
      vertical-align: middle;
      background-color: #eee;
      margin: 0 1.5px;
      z-index: 10; // hover/click priority over separators
      position: relative;
      cursor: cell;
      line-height: initial;

      .reading {font-size: small;}
      .gloss   {font-size: xx-small;}
      .base    {font-size: x-small;}
    }
    .letter {
      display: inline-block;
      user-select: none;
      cursor: default;
      vertical-align: middle;
    }
    .separator {
      display: inline-block;
      position: relative; /* prevents blinking */
      vertical-align: middle;
      font-size: 1.5em;
      cursor: pointer;
      color: #eee;
      width: 1em;
      margin: 0 -.45em;
      padding: .2em 0;

      &:after {
        content: '\22ee'; /* 25b2 -> 2e3d */
      }
      &:hover {
        color: #26a5cc;
      }
      &.selected {
        color: red;
      }
    }
  } /* end of sentence-composer */

  .word-settings {
    display: flex;
    justify-content: space-evenly;
    background-color: #eee;
    padding: .5em 0;
    margin: .5em 0;

    .label {
      font-size: .7em;
      opacity: .5;
    }
    input[type="text"] {
      width: 8em;
    }
  }

  table td:nth-child(2) {
    width: 100%;
  }
  input.jpsentence,
  input.ensentence {
    font-size: 1.2em;
    width: calc(100% - 0.8em);
    max-width: 40em;
    padding: .2em .4em;
    border: none;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    background: none;
  }
}
