.vue-kanji {
  table.kanji-common-words {
    tr:nth-child(odd) {
      background: rgba(0,128,0,.1);
    }
  }

  .kanji-title {
    $grade1: #cc4628;
    $grade2: #e8b419;
    $grade3: #e89297;
    $grade4: #43a057;
    $grade5: #6ab8c9;
    $grade6: #51568e;
    $grade8: black;
    $grade9: #eabbc3;
    $gradeno: #bbe4ea;

    border: 1px solid white;
    border-radius: 2px;
    font-size: 2em;
    width: 1.5em;
    text-align: center;

    cursor: pointer;

    .kanji-grade {color: white; font-size: .4em; font-weight: bold;}
    &.grade-1 {border-color: $grade1; .kanji-grade {background: $grade1;}}
    &.grade-2 {border-color: $grade2; .kanji-grade {background: $grade2;}}
    &.grade-3 {border-color: $grade3; .kanji-grade {background: $grade3;}}
    &.grade-4 {border-color: $grade4; .kanji-grade {background: $grade4;}}
    &.grade-5 {border-color: $grade5; .kanji-grade {background: $grade5;}}
    &.grade-6 {border-color: $grade6; .kanji-grade {background: $grade6;}}
    &.grade-8 {border-color: $grade8; .kanji-grade {background: $grade8;}}
    &.grade-9 {border-color: $grade9; .kanji-grade {background: $grade9;}}
    &.grade-10{border-color: $grade9; .kanji-grade {background: $grade9;}}
    &.grade-no{border-color: $gradeno;.kanji-grade {background: $gradeno;}}
  }

  .kanji-info-table {
    .kanji-title {
      float: left;
      margin-right: .3em;
    }

    .vue-learn-buttons {
      font-size: .8em;
      line-height: 2em;
      span {line-height: 1.5em;}
    }
  }

  .kanji-details {
    text-align: justify;
    .okurigana {color: #d00;}
  }

  .on-label, .kun-label, .radical-label, .naritachi-label, .same-readings-label, .related-label {
    display: inline-block;
    color: white;
    padding: .1em .2em;
    margin: .05em .3em .05em 0;
    border-radius: 2px;
  }
  .on-label {background: #d37;}
  .kun-label {background: #39d;}
  .radical-label {background: #333;}
  .naritachi-label {background: #ffe300; color: #5e5042;}
  .same-readings-label {background: #88888815; color: #888;}
  .related-label {background: #b06ac4;}

  .related-kanji {
    margin-right: .2em;
    padding: 0 .2em;
    border-radius: 3px;
    cursor: pointer;
    border-bottom: 2px solid #fff0;

    &.yomi {border-bottom: 2px solid #d00;}
    &.joyo {background: #77a4;}
  }

  .same-readings-table {
    border-collapse: collapse;
    border: 1px solid rgba(128,128,128,.3);
    tr:nth-child(odd) {
      background-color: #88888815;
    }
    td {
      border-bottom: 1px solid rgba(128,128,128,.3);
      vertical-align: top;
    }
    td:nth-child(2) {
      font-size: 1.3em;
    }
  }
}
