.vue-double-click-button {
  @include non-selectable;
  display: inline-block;
  cursor: pointer;
  margin-right: .3em;
  border: 1px solid;
  border-radius: 3px;

  .title {
    margin: -.1em .4em 0 .4em;
  }
  .timeout {
    height: 2px;
    background-color: red;
    margin: 0 auto;
    width: 100%;
    opacity: 0;
  }
  &.waiting .timeout {
    transition: width 1s ease-out;
    width: 0;
    opacity: 1;
  }
  &.clicked {
    background-color: #ffec83;
    color: #333;
  }
}
