.word-card {
  padding: 0.6em 0;

  .expandable-list {
    display: inline-block;
    vertical-align: middle;

    &.word-krebs {
      padding-bottom: 7px;

      .expandable-list-item {
        margin: 0 0.6em 0 -0.3em;
        border-bottom: none;
        color: inherit;
      }
    }
    .expandable-list-item {
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      margin: 0 .4em;
      cursor: pointer;
      border-bottom: 1px dashed #008ace;
      color: #008ace;

      &:hover {
        color: #c00;
        border-bottom-color: #c00;
      }
      .word-kreb {
        font-size: 1.4em;
        position: relative;
        display: inline-block;
        cursor: pointer;
        border: none;
        padding: 0 .3em .2em .3em; // bottom padding needed so that bottom border will not intersects with pitch accent
        /* transparent border; so that height is equal with common words with visible border*/
        border-bottom: 2px solid rgba(255,255,255,0);

        &.common {
          border-bottom-color: green;
          border-bottom-style: dotted;
        }
      } /* end of .word-kreb */

      .jisho-search-link {
        @include non-selectable;
        text-decoration: none;
        font-size: .9em;
        &:hover {opacity: .6;}
      }


      .expandable-list-arrow {
        display: inline-block;
        position: absolute;
        padding: 0;

        box-sizing:border-box;
        height:5px;
        width:5px;
        margin: 2px 0 0 -5px;
        content:" ";
        border:5px solid transparent;
        border-bottom-color: $expandBg;
      }

      .level {
        @include non-selectable;
        display: inline-block;
        background-color: #ffbc11;
        color: #99700a;
        border-radius: 2em;
        font-size: .6em;
        line-height: 1.6em;
        width: 1.6em;
        height: 1.6em;
        text-align: center;
        vertical-align: middle;
      }
    } /* end of .expandable-list-item */
  } /* end of .expandable-list */

  .expandable-list-container {
    background-color: $expandBg;
    background-image: $pattern-little-pluses;
    color: $expandFg;
    padding: 0.5em 0;
    margin-top: 5px;
  }

  .word-details {
    text-align: justify;
    padding: .3em;
    line-height: 1.6em;

    .icon {
      @include non-selectable;
      display: inline-block;
      font-size: 1.4em;
      vertical-align: middle;
      margin-right: 0.3em;
      line-height: 0;
    }
    .pos {
      color: green;
      font-style: italic;
      font-size: 0.9em;
    }
  } /* end of .word-glosses */

  .action-buttons {
    opacity: 0.4;
    font-size: 0.8em;

    &:hover {opacity: 1;}
    a {cursor: pointer;}
  }

  .word-comment-form.vue-editable-text {
    padding: 0.1em 0.6em;
    margin: -0.1em auto;

    &:hover {
      background-color: rgba(128,128,128,0.2);
      cursor: pointer;
    }
    p {
      margin: 0.4em 0;
      text-align: justify;
    }
    textarea {
      width: 100%;
      height: 8em;
      resize: vertical;
    }
  } /* end of .word-comment-form */

  .vue-kanji {
    width: calc(50% - 0.5em);
    display: inline-block;
    vertical-align: top;
    margin-top: 1em;
    &:nth-child(odd){margin-right: 0.5em;}
    .vue-editable-text {margin: 0 -.6em; font-size: .9em;}
  }
} /* end of .word-card */
