#search-app {
  height: calc(100vh - 33px);
  display: grid;
  grid-template-columns: 22em 1fr;
  grid-template-rows: 100%;

  .contents-panel {
    height: 100%;
    overflow-y: auto;
  }
  .browse-panel {
    border: 0px solid $borderColor;
    border-right-width: 1px;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;

    .search-field {
      position: relative;

      input[type="text"] {
        background: none;
        border: none;
        border-bottom: 1px solid $borderColor;
        padding: .4em .6em .5em .6em;
        box-sizing: border-box;
        width: 100%;
      }
      .loading-circles {
        position: absolute;
        right: 1em;
        top: .8em;
      }
    }
    .search-results {
      height: 100%;
      overflow-y: auto;
      background: #f7f7f7;

      .result-item {
        padding: .2em .4em;
        border-bottom: 1px solid rgba(192,192,192,0.3);
        cursor: pointer;

        &.selected {
          background: #008ace !important;
          color: white;
        }
        &:hover, &.highlighted {
          .title {
            font-weight: bold;
          }
          .details {
            opacity: 1;
          }
        }
        .title {
          display: flex;
          align-items: center;

          .text {
            flex-grow: 10;
          }

          .common-icon {
            display: inline-block;
            margin-right: .2em;
            font-weight: normal;

            &.uncommon {
              opacity: 0;
            }
          }
          .learned-icon {
            font-weight: normal;
            float: right;

            &::after {
              content: '\01f4ae';
            }
          }


        }
        .details {
          width: 27em;
          padding-left: 1.7em;
          font-size: .7em;
          opacity: .5;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }
} // end of #search-app
