.vue-dropdown {

  .vue-dropdown-component {
    display: inline-block;
    position: relative;
    font-size: .9em;
    line-height: .6em;
    min-width: 6em;

    .vue-dropdown-input {
      overflow: hidden;
      position: relative;
      z-index: 1;
      box-sizing: border-box;
      border-radius: 3px;
      display: inline-block;
      padding: 0 .75rem;
      background: #fff;
      line-height: 2em;
      border-radius: 3px 3px 3px 3px;
      box-shadow: 0 0 0 1px #ddd inset;

      &::after {
        content: ' ';
        display: block;
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -3px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: transparent;
        border-top-color: #808080;
      }

      .item {
        cursor: pointer;
        padding: 0 35px 0 0;
        display: inline-block;
        min-width: 100%;
        text-indent: 0;
        border: none !important;
        box-shadow: none !important;
        width: 100%;
        box-sizing: border-box;
        background: none !important;
      }
    } /* end of .vue-dropdown-input */

    &.vue-dropdown-expanded {
      .vue-dropdown-input {
        border-radius: 3px 3px 0 0 !important;
        box-shadow: 0 0 0 1px #146fc9 inset;

        &::after {
          border-color: transparent;
          border-bottom-color: #146fc9;
          margin-top: -4px;
          border-width: 0 5px 5px 5px;
        }
      }
    } /* end of &.vue-dropdown-expanded */

    .vue-dropdown-wrapper {
      position: absolute;
      z-index: 10;
      background: #fff;
      margin: -1px 0 0 0;
      box-sizing: border-box;
      box-shadow: 0 1px 3px rgba(0,0,0,.1);
      color: #303030;
      line-height: 18px;
      width: 100%;
      border: 1px solid #979797;
      border-top-color: #146fc9;

      .vue-dropdown-content {
        overflow-y: auto;
        overflow-x: hiden;
        max-height: 200px;

        .option {
          padding: 5px 8px;
          cursor: pointer;

          &:hover {
            background-color: #146fc9;
            color: #fff;
          }
        }
      }
    } /* end of .vue-dropdown-wrapper */
  } /* end of .vue-dropdown-component */
} /* end of .vue-dropdown */
