.vue-pitch-word {
  $pitch-color: #d00;
  .br {
    border-bottom: 1px solid $pitch-color;
    border-right: 1px solid $pitch-color;
    margin-right: -1px;
  }
  .tr {
    border-top: 1px solid $pitch-color;
    border-right: 1px solid $pitch-color;
    margin-right: -1px;
  }
  .t {
    border-top: 1px solid $pitch-color;
  }
  .b {
    border-bottom: 1px solid $pitch-color;
  }
  .voiceless::after {
    position: absolute;
    content: '';
    border: 1px dotted #d00;
    border-radius: 1em;
    top: 0; left: 0;
    height: 1em; width: 1em;
  }
  .nasal::after {
    display: inline-block;
    content: '';
    vertical-align: top;
    width: .4em;
    height: .4em;
    margin-left: -.3em;
    margin-top: .2em;
    background: white;
    border-radius: 1em;
    border: 1px solid #d00;
    box-sizing: border-box;
  }
  .word {
    margin: 0 0.5em;
    span {
      position: relative; // needed for .voiceless
      padding: 0 0.1em;
    }
  }
  .pitch-number {
    font-size: .6em;
    vertical-align: super;
    color: #d00;
    opacity: .7;
  }

}
