.vue-kanji-card {
  $grade1: #cc4628;
  $grade2: #e8b419;
  $grade3: #e89297;
  $grade4: #43a057;
  $grade5: #6ab8c9;
  $grade6: #51568e;
  $grade8: black;
  $grade9: #eabbc3;
  $gradeno: #bbe4ea;

  border: 1px solid white;
  border-radius: 2px;

  .kanji-grade {color: white; font-size: .4em; font-weight: bold;}
  &.grade-1 {border-color: $grade1; .kanji-grade {background: $grade1;}}
  &.grade-2 {border-color: $grade2; .kanji-grade {background: $grade2;}}
  &.grade-3 {border-color: $grade3; .kanji-grade {background: $grade3;}}
  &.grade-4 {border-color: $grade4; .kanji-grade {background: $grade4;}}
  &.grade-5 {border-color: $grade5; .kanji-grade {background: $grade5;}}
  &.grade-6 {border-color: $grade6; .kanji-grade {background: $grade6;}}
  &.grade-8 {border-color: $grade8; .kanji-grade {background: $grade8;}}
  &.grade-9 {border-color: $grade9; .kanji-grade {background: $grade9;}}
  &.grade-10{border-color: $grade9; .kanji-grade {background: $grade9;}}
  &.grade-no{border-color: $gradeno;.kanji-grade {background: $gradeno;}}
}
