.expandable-list {
  position: relative;
}

.expandable-list-container {
  text-align: justify;
  font-size: 0.9em;

  a {text-decoration: none;}
  ul {padding-left: 1em;}

  .mnemonics {
    .hint {
      font-style: italic;
      opacity: .6;
    }
    .emphasis {
      background-color: rgba(255,255,255,0.5);
      color: inherit;
      border-radius: 3px;
      padding: 0 .4em;
    }
  }
  .hr-title {
    color: rgba(0,0,0,0.3);
    span {
      margin: 0.4em 0;
    }
  }
  .vue-kanji {
    margin-top: 1em;
  }

} /* end of .expandable-list-container */
