#main-menu {
  background-color: #222;
  margin: 0;
  color: white;
  font-family: Segoe UI, Helvetica Neue, sans-serif;
  width: 100%;

  &>div.center,
  &>div.right {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2em;
  }
  &>div.right {
    position: absolute;
    top: 0;
    right: 0;
  }
  a {
    color: #eee;
    text-decoration: none;
    padding: .7em;

    &:hover {opacity: 0.5;}
  }
  .username {
    font-size: .7em;
  }
  .emoji-checkbox.theme-switch {
    padding: 0 .7em;
    input + .slider {
      &::before {content: none;}
      .icon-sun {display: inline-block;}
      .icon-moon {display: none;}
    }
    input:checked + .slider {
      &::before {content: none;}
      .icon-sun {display: none;}
      .icon-moon {display: inline-block;}
    }
  }
} /* end of #main-menu */
