body {
  font-family: Cambria, FA M, serif;
  font-weight: 300;
  font-size: 12pt;
  margin: 0;
  text-align: center;
}
#container {
  text-align: center;
/*  margin: 0.5em;*/
  margin: 0;
}
.flash-notice,
.flash-error {
  color: white;
  display: inline-block;
  padding: 0.2em 0.5em;
  margin: 0.5em 0;
}
.flash-notice {background-color: #4caf50;}
.flash-error  {background-color: #e51c23;}
.blue,   .blue a   {background-color: #2196f3; color: white;}
.green,  .green a  {background-color: #4caf50; color: white;}
.purple, .purple a {background-color: #9c27b0; color: white;}
.yellow, .yellow a {background-color: #ff9800; color: white;}
.red,    .red a    {background-color: #e51c23; color: white;}
.r, .r a,
.k, .k a,
.w, .w a,
.y, .y a,
.m, .m a {
  color: white;
  text-decoration: none;
}
.r, .r a {background-color: #0af; border: 0px solid #0af;}
.k, .k a {background-color: #f0a; border: 0px solid #f0a;}
.w, .w a {background-color: #a0f; border: 0px solid #a0f;}
.y, .y a {background-color: #af0; border: 0px solid #af0; color: black;}
.m, .m a {background-color: #777; border: 0px solid #777;}
svg .r {fill: #0af !important;}
svg .k {fill: #f0a !important;}
svg .w {fill: #a0f !important;}
.stat-table-block {
  display: inline-block;
  padding: 0 0.3em;
}
a.study-button {
  text-align: center;
  display: inline-block;
  width: 4.3em;
  padding: 0.2em 0;
}
/* ==============================
   TOP MENU
   ============================== */
#main-menu {
  background-color: #222;
  margin: 0;
  padding: 0.2em 0 0.3em 0;
  text-align: center;
  color: white;
}
#main-menu a {
  color: #eee;
  padding: 10px 0;
}
#main-menu a.r,
#main-menu a.k,
#main-menu a.w {
  background-color: transparent;
  border-bottom-width: 0.2em;
}
#main-menu a:hover {
  opacity: 0.5;
}
#main-menu .hamburger {
  display: block;
  width: 24px;
  height: 24px;
  fill: #fff;
  cursor: pointer;
  margin-top: 3px;
}
#main-menu .center {
  display: inline-block;
}
#main-menu .right {
  position: absolute;
  top: 0;
  right: 0;
}
#main-menu .left {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.1em 0.3em;
}
#main-menu a.r,
#main-menu a.k,
#main-menu a.w {
  padding: 0.1em 0.3em;
}
#main-menu .toggle-compact-form {
  display: inline-block;
}
/* ==============================
   MENU OVERLAY
   ============================== */
#overlay-menu {
  z-index: 1000;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  width: 320px;
  top: 0;
  left: 0;
  text-align: center;
  color: white;
  display: none;
}
#overlay-menu .close-button {
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
}
#overlay-menu .type-title {
  display: inline-block;
  font-size: 2em;
  padding: 0.1em 0.5em;
}
#overlay-menu a {
  display: inline-block;
  padding: 0.3em 0.3em;
  margin: 0em 0.1em;;
}
#overlay-menu a:hover {
  color: rgba(255,255,255,0.5);
}
/* ==============================
   ELEMENTS LIST - RELATED
   ============================== */
.locked, .locked a,
.unlocked, .unlocked a,
.apprentice, .apprentice a,
.guru, .guru a,
.master, .master a,
.enlightened, .enlightened a,
.burned, .burned a {
  color: white;
  text-decoration: none;
}
.locked,
.unlocked,
.apprentice,
.guru,
.master,
.enlightened,
.burned {
  border-style: solid;
  border-width: 0 0 0.2em 0;
}
.locked, .locked a {
  background-color: #f5f5f5;
  color: #638686;
  border-color: #b4c6c6;
}
/* Green palette from here:
   http://www.colourlovers.com/palette/580974/Adrift_in_Dreams */
.unlocked, .unlocked a {
  background-color: #cff09e;
  color: #3b8686; /* master bg */
  border-color: #b9d78d;
}
.apprentice, .apprentice a {
  background-color: #a8dba8; /* #dd0093; */
  color: #357878; /* master border */
  border-color: #96c496;
}
.guru, .guru a {
  background-color: #79bd9a; /* #882d9e; */
  color: #0b486b; /* enlightened bg */
  border-color: #6ca98a;
}
.master, .master a {
  background-color: #3b8686; /* #294ddb; */
  color: #c7e3c7;
  border-color: #357878;
}
.enlightened, .enlightened a {
  background-color: #0b486b; /* #0093dd; */
  color: #79bd9a; /* guru bg */
  border-color: #094060;
}
.burned, .burned a {
  background-color: #434343;
  border-color: #262626;
}
/* ==============================
   ELEMENTS LIST
   ============================== */
/*.elements-list-separate.elements-list-words,
.elements-list-separate.elements-list-kanjis:not(.elements-list-compact),
.elements-list-separate.elements-list-radicals:not(.elements-list-compact) {*/
.elements-list-separate.elements-list-words,
.elements-list-separate.elements-list-kanjis,
.elements-list-separate.elements-list-radicals {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.elements-list-separate.elements-list-radicals.elements-list-compact,
.elements-list-separate.elements-list-kanjis.elements-list-compact {
  text-align: left;
}
.elements-list-separate::after {
  content: '';
  flex-grow: 1000000000;
}
.elements-list-item {
  display: inline-block;
  min-width: 4em;
  text-align: center;
  margin: 0.5em 0.2em 0.2em 0.2em;
}
.elements-list-separate .elements-list-item {
  flex: auto;
}
.elements-list-item .level-wrapper {
  font-size: 1.5em;
  height: 1.4em;
  color: #aaa;
}
.elements-list-item .level {
  font-weight: 100;
  color: #aaa;
  text-shadow: 1px 1px 0 #fff;
}
.elements-list-item .element-block {
  padding: 0.5em 0.3em;
}
.elements-list-item .element {
  font-size: 2em;
  line-height: 1.3em;
}
.elements-list-item .description {
  font-size: 0.8em;
}
/* COMPACT STYLE */
.elements-list-compact .elements-list-item {
  min-width: 0;
  margin: 0;
}
.elements-list-compact .elements-list-item .level-wrapper {
  display: none;
}
.elements-list-compact .elements-list-item .element-block {
  padding: 0.2em 0.3em;
}
.elements-list-compact .elements-list-item .element {
  font-size: 1em;
}
.elements-list-compact .elements-list-item .description {
  display: none;
}
.elements-list-compact .locked,
.elements-list-compact .unlocked,
.elements-list-compact .apprentice,
.elements-list-compact .guru,
.elements-list-compact .master,
.elements-list-compact .enlightened,
.elements-list-compact .burned {
  border-width: 0 1px 1px 0; 
}
/* ==============================
   ELEMENT
   ============================== */
.element-card {
  background-color: #f5f5f5;
  padding: 4px 16px;
  margin: 12px 0;
  text-align: center;
  max-width: 1100px;
  display: inline-block;
}
.element-card .top-info {
  margin: 1em auto;
  text-align: center;
}
.element-card .top-info .top-info-block {
  display: inline-block;
  vertical-align: top;
  margin: 0 16px;
}
.element-card .top-info .top-info-block .hr-title {
  margin: 0 -16px;
}
.element-card .top-info .top-info-block .top-info-content {
  margin-top: 0.4em;
  max-width: 15em;
}
.element-card .top-info .top-info-block .custom-note p {
  margin: 0;
}
.element-card .element-title {
  font-size: 4em;
  display: inline-block;
}
.element-card .mnemonics {
  display: inline-block;
  margin: 0 1em;
  font-style: italic;
  max-width: 500px;
  vertical-align: top;
  text-align: left;
}
.element-card .mnemonics-hint {
  color: #777;
}
/* --------------------------
   title with horizontal line */
.hr-title {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  color: #bbb;
  font-size: 0.8em;
}
.hr-title > span {
  position: relative;
  display: inline-block;
}
.hr-title > span:before,
.hr-title > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: #ddd;
}
.hr-title > span:before {
  right: 100%;
  margin-right: 15px;
}
.hr-title > span:after {
  left: 100%;
  margin-left: 15px;
}
/* end of title with horizontal line
   --------------------------------- */
.element-card .relative-elements-list .elements-list-wrapper:not(.elements-list-compact) .elements-list-item {
  font-size: 0.7em;
  font-weight: 100;
}
/* ==============================
   STUDY CARD
   ============================== */
.study-card h1 {
  font-size: 15vmax;
  text-align: center;
  padding: 0.2em;
  margin: 0.07em 0 0.07em 0;
}
.study-card .answer {
  display: none;
}
.study-card .reading-answer .primary {
  color: #aaa;
  background-color: #aaa;
}
.study-card .top-info {
  text-align: left;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.study-card .answer-buttons {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.study-card .correct-answer-button,
.study-card .incorrect-answer-button {
  display: inline-block;
  flex: auto;
  padding: 0.5em 1em;
  margin: 0 0.2em;
  cursor: pointer;
  color: white;
}
.study-card .correct-answer-button {
  background-color: #4caf50;
}
.study-card .incorrect-answer-button {
  background-color: #e51c23;
}
.study-card .sentence-examples {
  font-size: 1em;
}
.study-card .sentence-examples .ja {
  margin-bottom: 0.5em;
}
.study-card .sentence-examples .en {
  margin-bottom: 1em;
}
.study-card .answer-block {
  margin: 0 auto;
  text-align: center;
  font-size: 1em;
}
.study-card .answer-block div {
  vertical-align: top;
}
.study-card .answer-block p {
  margin: 0;
}
.study-card .answer table {
  margin: 0 auto;
}
.study-card .answer td {
  padding: 0.2em 1em;
}
.study-card .answer table tr.headers {
  color: #aaa;
}
.yomi-table {
  text-align: center;
}
.yomi-table td {
  padding: 0 4px !important;
}
.yomi-table .yomi-name,
.yomi-table .secondary {
  color: #aaa;
}
.yomi-table td.yomi {
  padding: 0 6px;
}
/* ==============================
   GRAPHS
   ============================== */
svg.graph {
  background: #eee;
  padding: 8px 12px 4px 12px;
  margin-top: 6px;
  border-radius: 5px;
  max-height: 105px;
  min-height: 75px;
}
svg.graph .bar {
  fill: #e1282e;
}
svg.graph text {
  text-anchor: middle;
  font-size: x-small;
}
/* ==============================
   AJAX FORM
   ============================== */
.custom-note:hover {
  background-color: rgba(100,100,100,0.1);
  cursor: pointer;
}
.add-note-show-link {
  color: #bbb;
  cursor: pointer;
}
.add-note-show-link:hover {
  color: #777;
}
form.add-note-form {
  display: none;
}
.mnemonics form.add-note-form textarea {
  width: 100%;
  height: 10em;
}
/* ==============================
   MOBILE
   default window width: 980
   with meta:
     iphone: vertical 320/horizontal 568
     ipad:   vertical 768/horizontal 1024
   ============================== */
@media (max-width: 568px) {
  .element-card {
    padding: 0.5em !important;
  }
  .mnemonics {
    margin: 0 !important;
  }
  svg.graph {
    padding: 8px 0 4px 0 !important;
  }
  #main-menu {
    font-size: 1em;
  }
  #main-menu .right {
    display: none;
  }
  #container {
    margin: 0;
  }
  #overlay-menu {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 320px) {
/* precise value to fit onto iphone (vertical) screen without margins :) */
  .elements-list-compact .elements-list-item {
    font-size: 1.006em !important;
  }
}

