body {
  font-family: Cambria, FA M, serif;
  font-weight: 300;
  font-size: 12pt;
}
.r, .r a {
  background-color: #0af;
  color: white;
}
.k, .k a {
  background-color: #f0a;
  color: white;  
}
.w, .w a {
  background-color: #a0f;
  color: white;
}
.elements-list-item {
  display: inline-block;
  min-width: 50px;
  text-align: center;
  margin: 12px 6px 6px 6px;
  background-color: #fff;
}
.elements-list-item .level-wrapper {
  font-size: 2em;
  height: 1.4em;
  text-align: center
}
.elements-list-item .level {
  font-weight: bold;
  position: absolute;
}
.elements-list-item .element {
  font-size: 2em;
}
.elements-list-item .description {
  font-size: 0.8em;
}
