@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');

body {
  --bg: #fff;
  --bg-secondary: #f0f0f0;
  --border-color: rgba(192, 192, 192, 0.3);
  --expander-color: #0b486b;
  --expander-bg: url('~assets/backgrounds/little-pluses.png') #a8dba8; // #a8dba8 (green)

  margin: 0;
  font-family: 'PT Serif', Cambria, 'M PLUS Rounded 1c', serif;
  font-size: 14pt;
  font-weight: 300;
  overflow: hidden;

  #__layout_inner {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
  }

  a {
    color: #008ace;
    &:hover {
      color: #c00;
    }
  }
}

html[class='dark-mode'] body {
  --color: #ccc; // main text color
  --color-secondary: #8799a5; // little bit darker text
  --bg: #16202a; // #0d192b
  --bg-secondary: #1c2939; // top menu bg, etc; little bit lighter
  --border-color: rgba(128, 128, 128, 0.2); // $lightborder
  --expander-color: var(--color-secondary);
  --expander-bg: var(--bg-secondary);

  background: var(--bg);
  color: var(--color);

  input[type='text'],
  textarea {
    background: var(--bg-secondary);
    color: var(--color);
    border: none;
  }

  #main-menu {
    background-color: var(--bg-secondary);
  }
}
