body {
  --expander-color: #0b486b;
  --expander-bg: #a8dba8; // #a8dba8 (green)

  margin: 0;
  font-size: 12pt;
  font-weight: 300;
  height: 100vh;

  #__nuxt,
  #__layout,
  #__layout_inner {
    width: 100%;
    height: 100%;
  }
}

html[class='dark-mode'] body {
  --color: #ccc; // main text color
  --color-secondary: #8799a5; // little bit darker text

  --bg: #16202a; // #0d192b
  --bg-secondary: #1c2939; // top menu bg, etc; little bit lighter

  --border-color: rgba(128, 128, 128, 0.2); // $lightborder

  background: var(--bg);
  color: var(--color);

  #main-menu {
    background-color: var(--bg-secondary);
  }
}
