@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');

@import 'styles/search.scss';

body {
  --bg: #fff;
  --bg-secondary: #f0f0f0;
  --border-color: rgba(192, 192, 192, 0.3);
  --expander-color: #0b486b;
  --expander-bg: url('~assets/backgrounds/little-pluses.png') #a8dba8; // #a8dba8 (green)

  margin: 0;
  font-family: 'PT Serif', Cambria, 'M PLUS Rounded 1c', serif;
  font-size: 14pt;
  font-weight: 300;

  #__layout_inner {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
  }

  a {
    color: #008ace;
    &:hover {
      color: #c00;
    }
  }

  .blue {
    background-color: #2196f3;
    color: white;
  }
  .green {
    background-color: #4caf50;
    color: white;
  }
  .purple {
    background-color: #aa00ff;
    color: white;
  }
  .yellow {
    background-color: #ff9800;
    color: white;
  }
  .red {
    background-color: #e51c23;
    color: white;
  }
  .lime {
    background-color: #aaff00;
    color: white;
  }
  .pink {
    background-color: #ff00aa;
    color: white;
  }

  .middle-content {
    overflow-y: scroll;
    padding: 0 calc((100vw - 40em) / 2);
    text-align: center;
  }
}

html[class='dark-mode'] body {
  --color: #ccc; // main text color
  --color-secondary: #8799a5; // little bit darker text
  --bg: #16202a; // #0d192b
  --bg-secondary: #1c2939; // top menu bg, etc; little bit lighter
  --border-color: rgba(128, 128, 128, 0.2); // $lightborder
  --expander-color: var(--color-secondary);
  --expander-bg: var(--bg-secondary);

  background: var(--bg);
  color: var(--color);

  .blue {
    background-color: var(--bg-secondary);
    border: 0px solid #2196f3;
  }
  .green {
    background-color: #0a3f39;
    border: 0px solid #4caf50;
  }
  .purple {
    background-color: #53155e;
    border: 0px solid #9c27b0;
  }
  .yellow {
    background-color: #c97a04;
    border: 0px solid #ff9800;
  }
  .red {
    background-color: #56181a;
    border: 0px solid #e51c23;
  }
  .lime {
    background-color: #629300;
    border: 0px solid #aaff00;
  }
  .pink {
    background-color: #89005b;
    border: 0px solid #ff00aa;
  }

  input[type='text'],
  textarea {
    background: var(--bg-secondary);
    color: var(--color);
    border: none;
  }

  #main-menu {
    background-color: var(--bg-secondary);
  }
}

@media (max-width: 568px) {
  body {
    font-size: 10pt;
  }
}
