@mixin non-selectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
$expandBg: #a8dba8; // #a8dba8 (green)
$expandFg: #0b486b;

@import "styles/fonts.scss";
@import "styles/images.scss";
@import "styles/theme-black.scss";
@import "styles/mobile-fixes.scss";
@import "styles/vue-dropdown.scss";
@import "styles/vue-double-click-button.scss";
@import "styles/vue-search-app.scss";
@import "styles/vue-sentence-form-app.scss";
@import "styles/vue-sentence-quiz-app.scss";
@import "styles/vue-word.scss";
@import "styles/theme-black.scss";
@import "styles/widget-main-menu.scss";
@import "styles/widget-loader.scss";
@import "styles/widget-jquery-autocomplete.scss";
@import "styles/widget-emoji-checkbox.scss";
@import "styles/widget-expandable-list.scss";
@import "styles/page-elements-list.scss";
@import "styles/page-search-old.scss";

body {
  font-family: myfont, Cambria, myfont_jp1, serif;
  font-weight: 300;
  font-size: 12pt;
  margin: 0;
  transition: background-color 0.5s ease;

  &.myfont_jp1 {
    font-family: myfont, Cambria, myfont_jp1, serif;
  }
  &.myfont_jp1 .japanese {
    font-family: myfont_jp1, serif;
  }
  &.myfont_jp2 {
    font-family: myfont, Cambria, myfont_jp2, serif;
  }
  &.myfont_jp2 .japanese {
    font-family: myfont_jp2, serif;
    font-size: 1.2em;
  }

  a {
    color: #008ace;
    &:hover {color: #c00;}
  }
  b {font-weight: bold;}

  .japanese {
    font-size: 1.4em;
    font-style: normal !important;
  }
  #container {
    margin: 0 auto;
  }

  .flash-container {
    width: 100%;
    text-align: center;

    .flash-notice,
    .flash-error {
      color: white;
      padding: 0.2em 0.5em;
    }
    .flash-notice {background-color: #4caf50;}
    .flash-error  {background-color: #e51c23;}
  }


  .r,
  .blue   {background-color: #2196f3; color: white;}
  .green  {background-color: #4caf50; color: white;}
  .w,
  .purple {background-color: #aa00ff; color: white;}
  .yellow {background-color: #ff9800; color: white;}
  .red    {background-color: #e51c23; color: white;}
  .y,
  .lime   {background-color: #aaff00; color: white;}
  .k,
  .pink   {background-color: #ff00aa; color: white;}

  .r, .r a,
  .k, .k a,
  .w, .w a,
  .y, .y a,
  .m, .m a {
    color: white;
    text-decoration: none;
  }
  .m, .m a {background-color: #777; border: 0px solid #777;}

  svg {
    .r {fill: #0af !important;}
    .k {fill: #f0a !important;}
    .w {fill: #a0f !important;}
  }

  .index-page-container {
    text-align: center;
    margin-top: 1em;

    .stat-table-block {
      display: inline-block;
      padding: 0 0.3em;
      td {padding: 3px 0;}
      a.study-button {
        color: white;
        display: inline-block;
        width: 4.3em;
      }

      .jlpt-counter,
      .jlpt-counter a.study-button {color: #999;}

      .jlpt-counter {
        font-size: 0.8em;
        padding-left: 0.4em;
        padding-right: 0.4em;

        a.study-button {width: auto;}
      }
    } /* end of .stat-table-block */
  } /* end of .index-page-container */

  .flagged,
  .pristine,
  .apprentice,
  .guru,
  .master,
  .enlightened,
  .burned {
    text-decoration: none;
    border-style: solid;
    border-width: 0 1px 1px 0;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  .flagged,
  .pristine {
    background-color: rgba(157,157,157,0.1);/*#f5f5f5*/
    color: #638686;
    border-color: #b4c6c6;
    svg {stroke: #638686;}
  }

  .flagged::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -1px;
    border: 5px solid transparent;
    border-right-color: red;
    border-top-color: red;
  }
  /* Green palette from here:
     http://www.colourlovers.com/palette/580974/Adrift_in_Dreams */
  .apprentice {
    background-color: #a8dba8; /* #dd0093; */
    color: #357878; /* master border */
    border-color: #96c496;
    svg {stroke: #357878;}
  }
  .guru {
    background-color: #79bd9a; /* #882d9e; */
    color: #0b486b; /* enlightened bg */
    border-color: #6ca98a;
    svg {stroke: #0b486b;}
  }
  .master {
    background-color: #3b8686; /* #294ddb; */
    color: #c7e3c7;
    border-color: #357878;
    svg {stroke: #c7e3c7;}
  }
  .enlightened {
    background-color: #0b486b; /* #0093dd; */
    color: #79bd9a; /* guru bg */
    border-color: #094060;
    svg {stroke: #79bd9a;}
  }
  .burned {
    /* gradient can be created here: http://www.patternify.com/ */
    background: $pattern-burned repeat;
    background-size: 3px 3px;
    background-color: #0b486b;
    color: #79bd9a;
    border-color: #022030;
    svg {stroke: #79bd9a;}
  }

  .hr-title {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    color: #bbb;
    font-size: 0.8em;

    & > span {
      position: relative;
      display: inline-block;
    }
    & > span:before,
    & > span:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 9999px;
      height: 1px;
      background: rgba(128,128,128,0.2);
    }
    & > span:before {
      right: 100%;
      margin-right: 15px;
    }
    & > span:after {
      left: 100%;
      margin-left: 15px;
    }
  } /* end of .hr-title */

  svg.graph {
    padding: 8px 12px 4px 12px;
    margin: 0 auto;
    border-radius: 5px;
    max-height: 110px;

    .bar {
      fill: #e1282e;
    }
    text {
      text-anchor: middle;
      font-size: x-small;
    }
  }

  .search-result svg,
  .study-card h1 svg,
  .elements-list-item svg,
  .radical-title svg {
    width: 1em;
    fill: none;
    stroke-linecap: square;
    stroke-miterlimit: 2;
    stroke-width: 68px;
  }

  #kanji-card-app,
  #radical-card-app {
    margin: 1em auto;
    padding: 0 1em;
    max-width: 50em;
  }

  .vue-kanji,
  .vue-radical {
    .kanji-info-table {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      & > div + div {
        margin-left: 1em;
        min-width: 100px;
      }
    }
    .kanji-title,
    .radical-title {
      font-size: 2.8em;
      padding: 0 .2em;
      position: relative;
    }
    .reading {
      &::after {content: '・';}
      &:last-child::after {content: '';}
      .okurigana {
        color: #d00;
      }
    }
    .radicals-list a {
      padding: 0 .3em;
    }
    .hr-title span {
      margin: .4em 0;
    }
  }

  .center-block {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 0.6em;
  }

  .study-card {
    .counter-info {
      position: absolute;
      color: #333;
      font-size: 0.85em;
    }
    h1 {
      font-size: 6em;
      text-align: center;
      padding: 0.2em;
      margin: 0;
      font-weight: normal;
      svg {stroke: #333;}
    }
    .show-answer-button {
      cursor: pointer;
      color: #333;
      background-color: #ffec83;
    }
    .answer {
      display: none;
    }
    .answer-buttons {
      display: grid;
      grid-gap: 3px;
      margin-top: 3px;
      grid-auto-columns: auto;

      .answer-button {
        padding: 0.5em 1em;
        cursor: pointer;
        text-align: center;
        min-height: 2em;
        grid-column: auto;
        grid-row: 1;

        .answer-details {
          font-size: x-small;
          margin: -0.3em 0 -0.2em 0;
          opacity: 0.6;
        }
      }
    } /* end of .answer-buttons */
  } /* end of .study-card */

  .notes-list {
    max-width: 50em;
    margin: 0 auto 0 auto;
    text-align: left;
    font-family: myfont Sans, Segoe UI, Helvetica Neue, Trebuchet MS, Trebuchet, sans-serif;
    font-size: 10pt;

    .note-date {
      font-size: 1.2em;
      margin: 1em 0 0.2em 0;
    }
  }
} /* end of body */

